body{
    background-color: rgb(20, 19, 19);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: yellow;
    border: solid black 1px;
    font-weight:bolder;
    background-color: rgb(177, 6, 6);
    border-radius: 1em;
    width: 500px;
}
.game-container{
    display: flex;
    justify-content: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    margin: 10px;
    padding: 5px;
    width: 500px;
    height: 500px;
    background-color: rgb(177, 6, 6)
    ;
}
.square {
    background-color: rgb(255, 255, 255);
}
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}
button{
    font-family: 'Orbitron', sans-serif;

    background-color:  rgb(177, 6, 6);
    padding: 10px;
    font-size: 20px;
    border-radius: 1em;
    color: yellow;
}
#sketch-board-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}